<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul>
				<li><a href="/home.html">Return Home</a></li>
				<li><a href="/orders">View Current Orders</a></li>
				<li><a href="/about.html">About Us</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>