<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>foh index</title>
	<link rel="stylesheet" href="common.css">
	<link rel="stylesheet" href="fohcreate.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>22 Berry</h1>
			<p><em>Simply put, its simply delicious.</em></p>
		</div>
	<nav class="navbar">
			<ul>
				<li><a href="/home.html">Return Home</a></li>
				<li><a href="/create_order.html">Create New Order</a></li>
				<li><a href="/about.html">About Us</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>
