<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>show orders</title>
</head>
<body>
	<nav class="navbar">
			<ul>
				<li><a href="/home.html">Return Home</a></li>
				<li><a href="/orders">View All Orders</a></li>
				<li><a href="/about.html">About Us</a></li>
				<li><a href="/foh/create_order">Create New Order</a></li>
			</ul>
		</nav>
</body>
</html>

1) table number 
2) items - menuItems array