<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>foh index</title>
</head>
<body>
	<nav class="navbar">
			<ul>
				<li><a href="/home.html">Return Home</a></li>
				<li><a href="/create_order.html">Create New Order</a></li>
				<li><a href="/about.html">About Us</a></li>
			</ul>
		</nav>
</body>
</html>
