* {
	font-family: 'Open Sans Condensed', sans-serif;
	font: inherit;
}
body {
	background-color: #BBE1C3;
}

.container {
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	background-color: white;
}

h1 {
	font-size: 40px;
}

p {
	font-size: 18px;
}

.button-container {
	display: inline-block;
}

.button {
	height: 150px;
	width: 200px;
	border-radius: 20px;
	background-color: #EDEEC0;
	position: absolute;
	text-align: center;
	margin: 0 0 0 153px;
}

.button a {
	text-decoration: none;
	font-size: 30px;
	top: 50px;
	position: relative;
	color: #423C32;

}