<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>boh show</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>22 Berry</h1>
			<p><em>Simply put, simply delicious.</em></p>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#">Return Home</a></li>
				<li><a href="#">View All Items</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</nav>
		<h1><%= menuItem.name %></h1>
		<p><%= menuItem.description %></p>
		<p><%= menuItem.allergens %></p>
		<p><%= menuItem.price %></p>
		<form action="/someurl">
			<label for="Submit">	
			<input type="submit">
			</label>
			<label for="Update item">
				<input type="submit">
			</label>
			<label for="Delete item">
				<input type="submit">
			</label>
		</form>
	</div>
</body>
</html>