<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BOH create</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>22 Berry</h1>
			<p><em>Simply put, simply delicious.</em></p>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#">Return Home</a></li>
				<li><a href="#">View All Items</a></li>
				<li><a href="#"></a>About Us</li>
			</ul>
		</nav>
		<form action="/" method="post">
			<h1>Create A New Item</h1>
			<input type="text" name="menuItem[name]">
			<textarea name="menuItem[description]">
			<input type="text" name="menuItem[allergens][]">
			<input type="item-price" name="menuItem[price]">
		</form>
</div>
</body>
</html>



