<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>22 Berry</h1>
			<p><em>Simply put, simply delicious.</em></p>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#">Return Home</a></li>
				<li><a href="#">Create New Item</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</nav>
		<h1>All Items</h1>
		<p>Below are all current menu items. Click on an item in order to view it's details, update it, or remove it completely!</p><br>
		<ul class="user-index">
			<% menuItem.forEach(function(menuItem, i) { %>
			<li class="individual-item">
				<a href="/some kind of url/<%= menuItem._id %>">
					<%= menuItem.name %>
				</a>
			</li>
			<%})%>
		</ul>
	</div>
</body>
</html>